ENV=local
PATH_PREFIX=/api/v1
APP_HOST=127.0.0.1
APP_PORT=8080
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PORT=5432
POSTGRES_PASSWORD=hackme
DB_CONNECT_RETRY=20
DB_POOL_SIZE=15