ENV=local
PATH_PREFIX=/api/v1
APP_HOST=127.0.0.1
APP_PORT=8080

SECRET_KEY=change-this-to-a-random-secret-key-in-production
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_USER=user
POSTGRES_PORT=5432
POSTGRES_PASSWORD=strong-secure-password-change-in-production
DB_CONNECT_RETRY=20
DB_POOL_SIZE=15